
<div class="index-banner">
    <img src="/Theme/1/Content/img/figure.png" />
    <h1>SIÇRAMA ANLARI</h1>
    <img src="/Theme/1/Content/img/figure2.png" />
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/Theme/1/Content/img/sicrama-anlari.jpg" class="w-100" />
            </div>
        </div>
    </div>
</div>