@{
    Layout = "~/blog/Theme/3/Views/Shared/_Layout.cshtml";
}

    <div class="page-head">
        <div class="page-slogan">
            "yaşamı kolaylaştıran,<br />modern mimariye sahip<br /> güvenilir yapılar inşaa ediyoruz."
        </div>
    </div>
    <div class="page-title">
        <h1>Kurumsal</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-30">
                <p>Kurumsal yazı içeriği</p>
            </div>
        </div>

    </div>
   